$textColor: #7E7E82;
$backGroundColor: #F8F8F8;


.footer {
    background-color: $backGroundColor;
    &__content-wrapper {
        padding-bottom: 19px;
    }
    &-text {
        color: $textColor;
        text-align: center;
        font-size: 14px;
        font-family: TT Lakes;
        font-weight: 500;
        line-height: 16px;
        padding-top: 16px;
    }
}
@media (min-width: 768px) {
    .footer{
        font-style: normal;
        &__content-wrapper {
            display: flex;
            padding: 32px 24px 41px;
            justify-content: space-between;
        }
        &-text {
            padding: 0;
        }
        &__copywriter-info {
            text-align: start;
            max-width: 218px;
        }
        &__offert-info {
            max-width: 213px;
            text-align: end;
        }
    }
}
@media (min-width: 1120px) {
    .footer__content-wrapper {
        padding: 32px 32px 21px;
        justify-content: space-between;
    }
}