$var1: #F8F8F8;
$var2: #7E7E82;
$var3: #EAEAEA;
$var4: #ffffff;
$var5: #1B1C21;
$var6: #FF3E79;
$var7: #979797;
$var8: #DDDDDD;

.gadgets {
	min-width: 320px;
	display: flex;
	flex-direction: column;
	background: $var1;
	&__wrapper {
		margin: 24px 0 0 16px;
	}
	&__tittle-wrapper {
		background: linear-gradient(to right, $var1, $var4);
		padding: 16px 0;
	}
	&__title {
		white-space: normal;
		color: $var2;
		font-size: 16px;
		font-family: 'TT Lakes';
		line-height: 24px;
		font-weight: normal;
		letter-spacing: -0.2px;
		text-transform: uppercase;
	}
	&__main-block {
		min-width: 0px;
		margin-top: 16px;
	}
	&__list {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: flex;
		box-sizing: content-box;
	}
	&__swiper-pagination-container {
		margin-top: 16px;
	}
	&__swiper-pagination {
		position: static;
	}
	&__swiper::after {
		position: absolute;
		right: 0px;
		top: 0px;
		content: "";
		background: linear-gradient(-90deg, #FFFFFF, transparent);
		height: 160px;
		width: 24px;
		z-index: 1;
	}
	&__item {
		box-sizing: border-box;
		border: 1px solid $var3;
		border-radius: 6px;
		max-width: 240px;
		min-height: 160px;
		background: $var4;
		padding: 16px 0 0 16px;
	}
	&__checkbox:checked~.gadgets__swiper {
		max-height: none;
	}
	&__checkbox~.gadgets__content-hider-btn::after {
		content: "Показать всё";
		font-family: 'TT Lakes';
		font-weight: 500;
		font-style: normal;
		font-size: 16px;
		line-height: 24px;
		color: $var5;
	}
	&__checkbox:checked~.gadgets__content-hider-btn::after {
		content: "Скрыть";
		font-family: 'TT Lakes';
		font-weight: 500;
		font-style: normal;
		font-size: 16px;
		line-height: 24px;
		color: $var5;
	}
	&__checkbox:checked~.gadgets__content-hider-btn > .gadgets__arrows {
		transform: rotate(180deg);
	}
	&--clickable-element:hover {
		cursor: pointer;
		opacity: 0.5;
		transition: opacity 0.3s ease-in-out;
	}
}
.service-type {
	color: $var5;
	font-size: 16px;
	font-family: TT Lakes;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.2px;
	&::before {
		position: absolute;
		bottom: 16px;
		right: 16px;
		content: "";
		background-color: $var4;
		height: 40px;
		width: 40px;
		border: 1px solid $var6;
		border-radius: 50%;
	}
	&::after {
		position: absolute;
		bottom: 31px;
		right: 34px;
		content: '';
		display: block;
		width: 8.5px;
		height: 8.5px;
		border-right: 2px solid $var6;
		border-top: 2px solid $var6;
		border-radius: 20%;
		transform: rotate(45deg);
	}
}
@media (min-width: 768px) {
	.gadgets__content-hider-btn {
		border: none;
		background: none;
		cursor: pointer;
		margin-top: 24px;
		display: inline-flex;
		align-items: center;
	}
	.gadgets__wrapper {
		margin: 32px 0 0 24px;
	}
	.gadgets__main-block {
		margin-top: 24px;
	}
	.gadgets__swiper {
		max-height: 160px;
		&::after {
			display: none;
		}
	}
	.gadgets__list {
		flex-wrap: wrap;
	}
	.gadgets__item {
		margin: 0 24px 16px 0;
		max-width: 224px;
	}
}
@media (min-width: 1120px) {
	.gadgets__wrapper {
		margin: 50px 0 0 32px;
	}
	.gadgets__item {
		margin: 0 32px 16px 0;
		max-width: 240px;
	}
}
