$var1: #F8F8F8;
$var2: #7E7E82;
$var3: #EAEAEA;
$var4: #ffffff;
$var5: #1B1C21;
$var6: #FFFFFF;
$var7: #FF3E79;
$var8: #FFFFFF;
$var9: #979797;
$var10: #DDDDDD;

.price {
	min-width: 320px;
	display: flex;
	flex-direction: column;
	background: $var1;
	&__wrapper {
		margin: 24px 0 0 16px;
	}
	&__main-block {
		min-width: 0px;
	}
	&-header__title {
		white-space: normal;
		color: $var2;
		font-size: 16px;
		font-family: 'TT Lakes';
		line-height: 24px;
		font-weight: normal;
		letter-spacing: -0.2px;
		text-transform: uppercase;
	}
	&-header__tittle-wrapper {
		background: linear-gradient(to right, $var1, $var4);
		padding: 16px 0;
	}
	&-swiper {
		margin-top: 16px;
		&__list {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 1;
			display: flex;
			box-sizing: content-box;
		}
		&::after {
			position: absolute;
			right: 0px;
			top: 0px;
			content: "";
			background: linear-gradient(-90deg, $var6, transparent);
			height: 200px;
			width: 24px;
			z-index: 1;
		}
		&__item {
			box-sizing: border-box;
			border: 1px solid $var3;
			border-radius: 6px;
			max-width: 260px;
			min-height: 200px;
			background: $var4;
			padding: 0 16px;
			&-tittle {
				color: $var2;
				font-size: 14px;
				font-family: 'TT Lakes';
				font-weight: 500;
				line-height: 16px;
			}
			&-text {
				color: $var5;
				font-size: 14px;
				font-family: 'TT Lakes';
				line-height: 18px;
				letter-spacing: 0.2px;
			}
        }
    }
}
.table-hat__service {
	flex-basis: 54.07%;
}
.table-hat__coast {
	flex-basis: 13.9%;
}
.table-hat__date {
	flex-basis: 31.98%;
}
.table-hat__text {
	color: $var2;
	font-size: 14px;
	font-family: 'TT Lakes';
	font-weight: 500;
	line-height: 16px;
}
.swiper-slide__container {
	margin-top: 16px;
}
.text-button-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	&::after {
		position: absolute;
		right: 16px;
		content: '';
		border-right: 2px solid $var6;
		border-top: 2px solid $var6;
		display: block;
		width: 7px;
		height: 7px;
		border-radius: 20%;
		transform: rotate(45deg);
	}
}
.order-button {
	border: none;
	border-radius: 16px;
	background: $var7;
	width: 119px;
	height: 32px;
	flex-shrink: 0;
	color: $var8;
	text-align: left;
	padding-left: 12px;
	font-size: 12px;
	font-family: 'TT Lakes';
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.15px;
	text-transform: uppercase;
}
.pagination-container {
	margin-top: 16px;
}
.swiper-pagination {
	position: static;
	&-bullet-active {
		background-color: $var9;
	}
	&-bullet {
		background-color: $var10;
	}
}
.inform-block {
	margin-top: 16px;
	margin-bottom: 40px;
	&__tax-info {
		color: $var5;
		font-size: 14px;
		font-family: 'TT Lakes';
		line-height: 20px;
		letter-spacing: 0.2px;
	}
	&__offer-link {
		margin-top: 16px;
		display: block;
		&::after {
			position: absolute;
			margin: 8px;
			content: "";
			height: 7px;
			width: 7px;
			border-top: 2px solid $var7;
			border-right: 2px solid $var7;
			transform: rotate(45deg);
		}
	}
	&__offer-text {
		color: $var5;
		font-size: 16px;
		font-family: 'TT Lakes';
		font-weight: 500;
		line-height: 24px;
		letter-spacing: -0.2px;
	}
}
@media only screen and (min-width: 768px) {
    .price__wrapper {
        margin: 32px 0 0 24px;
    }
    .price__main-block {
        margin-top: 31px;
        margin-right: 24px;
        }
    .price-header__tittle-wrapper {
        padding: 16px 0;
        }
    .table-hat {
        display: flex;
        padding: 0 16px;
        &__wrapper {
            display: flex;
            width: 100%;
        }
    }
    .tittle--hidden {
        display: none;
    }
    .pagination-container--hidden {
        display: none;
    }
    .price-swiper::after {
        display: none;
        }
    .price-swiper__list {
        flex-direction: column;
        background: $var8;
        }
    .price-swiper__item {
        max-width: 100%;
        min-height: 64px;
        display: flex;
        align-items: center;
        border: none;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            border: 1px solid $var3;
            width: 95.4545%;
        }
        &:first-child:before {
            border: none;
        }
    }
    .price-swiper__service-wrapper {
        flex-basis: 54.07%;
    }
    .price-swiper__coast-wrapper {
        flex-basis: 13.9%;
    }
    .price-swiper__date-wrapper {
        flex-basis: 31.985%;
    }
    .swiper-slide__container {
        margin: 0;
    }
    .inform-block {
        margin-top: 24px;
        margin-bottom: 80px;
        &__wrapper {
            max-width: 421px;
        }
    }
}
@media only screen and (min-width: 1120px) {
    .price__wrapper {
        margin: 50px 0 0 32px;
    }
    .price__main-block {
        margin-right: 32px;
        }
        .table-hat {
            padding: 0 24px;
            &__service {
                flex-basis: 46.63%;
            }
            &__coast {
                flex-basis: 22.52%;
            }
            &__date {
                flex-basis: 30.85%;
            }
        }
        .price-swiper__item {
            padding: 0 24px;
        }
        .price-swiper__service-wrapper {
            flex-basis: 46.63%;
        }
        .price-swiper__coast-wrapper {
            flex-basis: 22.52%;
        }
        .price-swiper__date-wrapper {
            flex-basis: 30.85%;
        }
        .inform-block {
            margin-top: 32px;
            margin-bottom: 83px;
        }
}