// Color-vars
// $var1: #F8F8F8;
// $var2: #FFFFFF;
// $var3: #1B1C21;
// $var4: #41F6D7;
// $var5: #B8FFEC;
// $var6: #7E7E82;
// $var7: #FF3E79;
// $var8: #EAEAEA;
// $var9: #979797;
// $var__10: #DDDDDD;
// $var__11: #D9FFF5;
// $var__12: #34495e;
// $var__13: rgba(255, 255, 255, 0.9);
// $var__14: #B5B6BC;

// FontVars
$lakesMedium: TT Lakes, normal, normal;
$lakesRegular: TT Lakes, 500, normal;
$lakesBold: TT Lakes, bold, normal;